:root {
  --c: #fff;
}

/* page layout */
nav {
  width: 100%;
  height: 70px;
  box-shadow: var(--box-shadow-down);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 99;
}

.logo {
  width: 40% !important;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo > img {
  height: 60%;
  object-fit: cover;
}

.logo > h3 {
  font-size: 1.2rem;
}

.icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github {
  font-size: 2rem;
}

.menu {
  font-size: 1.3rem;
}

.content {
  width: 100%;
  display: flex;
  position: relative;
}

.leftnavbar {
  width: 60%;
  position: fixed;
  top: 70px;
  right: -100%;
  z-index: 999;
  height: 100vh;
  text-align: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  background-color: #fff;
}

#menu:target {
  right: 0;
}

/* .code {
  position: relative;
  overflow: auto;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  transform: scale(1) !important;
  overflow: hidden !important;
} */

.code {
  width: 100%;
  /* padding: 0 1rem; */
}

iframe {
  width: 100%;
  min-height: 40vh !important;
  border: 0;
  transform: scale(1);
  overflow: hidden;
  display: block !important;
  /* background-color: khaki; */
}

.code > iframe body::-webkit-scrollbar{
  background-color: aqua !important;
}

.right-displaysection {
  width: 100%;
  padding-top: 90px;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 0 4rem;
  }
  .logo {
    width: 11%;
  }
  .logo > h3 {
    font-size: 1.3rem;
  }
  .logo > img {
    height: 70%;
  }
  .content {
    width: 100%;
    display: flex;
    position: relative;
  }

  .leftnavbar {
    width: 25%;
    position: sticky;
  }

  .right-displaysection {
    width: 75%;
  }

  iframe{
    min-height: 30vh !important;
  }
}
